
     * {
            box-sizing: border-box;
			--sandyBrown: #F4A460
        }
body{
  font-size:12px;
  font-family:Calibri
}
.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}
h2{
	margin-top:22px;
}
.groceryList {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}
.column {
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	flex-grow: 1;
    width: 20%;
    margin-right: 30px;
    margin-bottom: 40px;
	box-shadow: 3px 3px 5px #F4A460;
    background-color: #FFFFE0;
    border: 1px solid var(--sandyBrown);
    border-left: 0;
    border-top: 0;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}
.column > p,.category{
	 color: var(--sandyBrown);
    font-weight: bold;
}
.column > p{
    float: right;
    margin-top: 2px; 
	font-size:14px;
}
.category{
	text-transform:uppercase;
	margin-top: 20px;
    margin-bottom: 0;
}
.brand{
		margin-top: 2px;
}
@media screen and (max-width: 980px) {
  .groceryList .column {
		margin-bottom: 5px;
        flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.groceryList .column {
		flex-basis: 100%;
		margin: 0 0 25px 0;
	}
}